{% extends 'base.html' %}

{% block content %}
<div class="container container-main mt-3">
  	<div class="row row-dialogue">

  		<script type="text/javascript">
  			function getMessage(){
  				var message = document.getElementById('message_form').value;
  				display_message.innerHTML = message;
  				console.log(message);
  			}
  		</script>
  		
  		<div class="container" id="display_message">
  		</div>
  	</div>
  	<div class="row row-form">
  		<div class="container">
  			<form action="{{ url_for('index') }}" method="POST">
  				<div class="row mt-2">
  					<div class="col-lg-9 offset-1 col-md-8 col-sm-7 col-6">
  						<input type="text" id="message_form" class="form-control mt-3" placeholder="Demandez quelque chose à PapyBot...">
  					</div>
  					<div class="col-lg-2 col-md-1 col-sm-1 col-1">
  						<button type="button" onclick="getMessage()" class="btn btn-outline-secondary button-dialogue mt-3">Demander</button>
  					</div>
  				</div>
  			</form>
  		</div>
  	</div>
</div>
</script>
{% endblock %}
